/* 
--------------- PALETA ---------------
        verde		94C021
        celeste 	2DAAE1
        azul		0F70B4
        naranja	    FFA566 
---------------        ---------------
*/


header {
    background-color: #F8F8F8;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}

nav {
    color: #0f70b4;
}

.navbar_logo {
    width: 30%;
    display: flex;
    justify-content: center;
}

.nav_item {
    color: #0f70b4;
    font-weight: 600;
    font-size: 22px;
}

.logo_navbar {
    height: 80px;
    margin-bottom: 15px;
}

.descripcion {
    margin-top: 120px;
    background: linear-gradient(168.11deg, #4FC1F1 30.44%, #C4FFD5 57.43%, #9DF6E1 89.99%);
}

.descripcion__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.descripcion__div--content {
    display: flex;
    align-items: center;
    width: 50%;
}

.descripcion__div__title {
    color: #F7F7F7;
    font-size: min(12vw, 65px);
    font-weight: 700;
}

.descripcion__div__text {
    color: black;
    font-size: min(6vw, 15px);
    font-weight: 600;
}

section {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section--h2 {
    color: #0F70B4;
    font-weight: 650;
}


.imagen_descripcion {
    max-width: 70%;
    max-height: 70%;
    min-height: 200px;
    min-width: 200px;
    opacity: 1;
}

footer {
    background-color: #F8F8F8;
    color: #0f70b4;
}

.footer_text {
    color: #0f70b4;
}


.footer_logo {
    width: 50px;
    margin: 10px;
}

.whatsapp_icon {
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 50px;
}


/*--------------- PROBANDO ---------------*/
.Ellipse3 {
    margin: auto;
    border-radius: 50%;
    min-width: 250px;
    min-height: 250px;
    max-width: 70vw;
    max-height: 70vw;
    width: 60vh;
    height: 60vh;
    border: 12px solid #86F166;
}

.Ellipse1 {

    width: 800px;
    height: 760px;
    left: 772px;
    top: 127px;
    background: rgba(63, 197, 175, 0.5);
}
.Ellipse4 {
    margin: auto;
    border-radius: 50%;
    min-width: 300px;
    min-height: 300px;
    max-width: 80vw;
    max-height: 80vw;
    width: 70vh;
    height: 70vh;
    background: rgba(0, 111, 207, 0.54);
}
/*--------------- PROBANDO ---------------*/



/*--------------- Seccion ¿Quienes somos? ---------------*/

.section_quienes_somos--h3 {
    color: #FF8835;
    font-weight: 600;
}

.section_quienes_somos--icon {
    height: 45px;
    width: 45px;
}

.section_quienes_somos--text {
    color: #212529;
    font-size: min(6vw, 18px);
}


/*--------------- Seccion Nuestro Objetivo ---------------*/

.section_nuestro_objetivo--bg {
    background-image: url(../assets/img/futbol-mexico.png);
    background-position-x: 20% ;
    background-position-y: center;
    background-repeat: no-repeat;
}

.section_nuestro_objetivo--ht {
    height: 80vh;
}

/*---------------     ---------------*/